.image {
    background: url(./Path\ 15.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 800px;
}

.btn {
    background-color: #0F5380 !important;

}

.form-control {
    border: 0 !important;
    border-bottom: 2px solid #0F5380 !important;
}

.pt-10 {
    padding-top: 10%;
}

@media screen and (max-width:1600px) {
    .image {
        height: 700px;
        background-size: 100%;
    }
}

@media screen and (max-width:950px) {
    .image {
        height: 500px;
        background-size: 120%;
    }
}

@media screen and (max-width:500px) {
    .image {
        height: 260px;
        background-size: 150%;
    }
}